<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="public/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Adventures On Demand</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div ng-if="loading" class="loading">Loading&#8230;</div>
  <div class="content">

    <div class="dnavbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffffcf !important" ;>
        <a href="#">
          <img src="public/images/plane.png" alt="logo" width="50px" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doc">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text" style="color: black !important">
            Adventures on demand
          </span>
        </div>
      </nav>
    </div>
    <!-- Search form -->
    <div class="searchform">

      <div class="container">
        <div class="row">
          <div class="col-sm md-form mt-0">
            <input class="form-control" type="text" ng-model="CurrentDest" placeholder="Insert your destination"
              aria-label="Search">
          </div>
          <div class="col-sm md-form mt-0">
            <input class="form-control" type="text" ng-model="DesiredDest" placeholder="Insert desired destination"
              aria-label="Search">
          </div>
          <div class="col-sm">
            <button class="btn btn-primary" ng-click="alertClick()" style="width: 70%; height: 3rem; font-size: 1.2em;">
              Search </button>
          </div>
        </div>
      </div>

      <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
          $scope.CurrentDest = "";
          $scope.DesiredDest = "";
          $scope.locations = [];
          $scope.loading = false;
          $scope.alertClick = function () {
            $scope.loading=true;
            fetch(`/api-get-location/${$scope.CurrentDest}/${$scope.DesiredDest}`).then(res => res.json()).then(res => {
              if ("legitResult" in res) {
                $scope.locations = res.legitResult;
                $scope.loading=false;
                $scope.$apply();
              }
            });
            const element = document.getElementById('DisplayInformation');
            if (element) {
              element.scrollIntoView({ behavior: 'smooth' })
            }
          }
        });
      </script>

    </div>

    <div class="contentaftersearch" style="position: absolute; top:100vh; height: 95vh; padding: 30px; width: 100%;">

      <h1 id="DisplayInformation" class="title"> Adventures ready for you!</h1>
      <hr>
      <div ng-repeat="loc in locations track by $index">
        <div class="card mb-3" style="width: 100%; border: 0px !important; height: 90px !important; margin: 10px">
          <div class="row no-gutters" style="height: 90px !important">
            <div class="col-md-2" style="height: 90px !important; max-width: 8% !important; margin-top: 30px !important;">
              <img style="height: 90px !important" src="https://image.flaticon.com/icons/png/512/235/235861.png"
                class="card-img" alt="image">
            </div>
            <div class="col-md-8" style="height: 90px !important">
              <div class="card-body" style="height: 90px !important">
                <h5 class="card-title">{{ loc.ime }}</h5>
                <p class="card-text" >{{ loc.vreme }} <br> {{"Temp: " + loc.temperatura + "°C"}}</p>
                <p class="card-text"><small class="text-muted">{{ "Zemljepisna visina: " + loc.zemljepisna_visina + ", Zemljepisna sirina: " + loc.zemljepisna_sirina}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr>
      </div>
      <!-- <ul class="list-group list-group-flush" style="width: 100%;">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul> -->

    </div>

    <div class="footer">
      Brina Jehart © 2020
    </div>

</body>

</html>